parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - message: '#^Trait Selfiens\\PropertyAlias\\PropertyAliasTrait is used zero times and is not analysed\.$#'
      identifier: trait.unused
      count: 1
      path: src/PropertyAliasTrait.php